送

shadowsocks=183.240.188.34:8321, method=chacha20, password=passLUsO2Ktuer77tu, fast-open=true, udp-relay=true, tag=🇭🇰 香港

shadowsocks=183.240.188.34:9001, method=chacha20, password=nUthZ7z3VmyV, fast-open=true, udp-relay=true, tag=🇭🇰 香港1

shadowsocks=183.240.188.34:9002, method=chacha20, password=PTgFLLrT5pVg, fast-open=true, udp-relay=true, tag=🇭🇰 香港2

shadowsocks=183.240.188.34:9003, method=chacha20, password=v5aUUtme3jxs, fast-open=true, udp-relay=true, tag=🇭🇰 香港3

shadowsocks=183.240.188.34:9004, method=chacha20, password=s6Zau9ioic, fast-open=true, udp-relay=true, tag=🇭🇰 香港4

shadowsocks=183.240.188.34:9005, method=chacha20, password=sJMdcI7NPj, fast-open=true, udp-relay=true, tag=🇭🇰 香港5

vless://7d78ecee-850f-48fc-92d3-00cdababca30@yl2s.0owap.xyz:443?encryption=none&security=tls&type=ws&host=yl2s.0owap.xyz&path=%2F7d78ecee-850f-48fc-92d3-00cdababca30#🇭🇰 香港6

vless://b31dbc8b-251f-44eb-982d-b421cfc61b44@afrxp.s7e6tw3p.xyz:443?encryption=none&security=tls&type=ws&host=afrxp.s7e6tw3p.xyz&path=%2Fb31dbc8b-251f-44eb-982d-b421cfc61b44#🇭🇰 香港7

vless://1a8a848e-8dcb-4f05-a048-3c9655e27e05@yysu.0owap.xyz:443?encryption=none&security=tls&type=ws&host=yysu.0owap.xyz&path=%2F1a8a848e-8dcb-4f05-a048-3c9655e27e05#🇭🇰 香港8

vless://1f83827d-b91f-45e1-968b-b7ee597b7d52@274c.0owap.xyz:443?encryption=none&security=tls&type=ws&host=274c.0owap.xyz&path=%2F1f83827d-b91f-45e1-968b-b7ee597b7d52#🇭🇰 香港9


trojan=many-mastodon.sheepdog670.boats:443, password=3672449442956713984, over-tls=true, tls-verification=false, fast-open=false, udp-relay=false, tag=🇮🇳视频专用ⓑ
trojan=humble-bison.sheepdog670.boats:443, password=3672449442956713984, over-tls=true, tls-verification=false, fast-open=false, udp-relay=false,tag=🇮🇳视频专用ⓐ
