shadowsocks=soonhk.soon.guru:40000, method=chacha20-ietf-poly1305, password=609B8A68-25F0-4AA4-8404-DF8108A08671, fast-open=true, udp-relay=true, tag=香港
shadowsocks=gd.miyue.fun:20002, method=chacha20-ietf-poly1305, password=4ce30bdb-199f-4ea3-ad08-0ebaf197993c, fast-open=false, udp-relay=false, tag=HongKong
trojan=many-mastodon.sheepdog670.boats:443, password=3672449442956713984, over-tls=true, tls-verification=false, fast-open=false, udp-relay=false, tag= 视频专用ⓑ

trojan=humble-bison.sheepdog670.boats:443, password=3672449442956713984, over-tls=true, tls-verification=false, fast-open=false, udp-relay=false,tag=视频专用ⓐ
shadowsocks=hk08.mmyjiedian.com:10008, method=chacha20-ietf-poly1305, password=2eda3c28-792c-4d16-bf27-c3d5568d7059, fast-open=true, udp-relay=true, tag= ——🌹 恭🌹——



shadowsocks=183.240.188.34:9001, method=chacha20, password=nUthZ7z3VmyV, fast-open=true, udp-relay=true, tag= ——🌹 喜🌹——

shadowsocks=183.240.188.34:9002, method=chacha20, password=PTgFLLrT5pVg, fast-open=true, udp-relay=true, tag= ——🌹 發🌹——

shadowsocks=183.240.188.34:9003, method=chacha20, password=v5aUUtme3jxs, fast-open=true, udp-relay=true, tag= ——🌹 財🌹——


shadowsocks= 121.170.203.147:2003, method=aes-256-cfb, password=qwerREWQ@@, fast-open=true, udp-relay=true, tag= ——🌹 心🌹——

shadowsocks= 168.126.234.232:2003, method=aes-256-cfb, password=qwerREWQ@@, fast-open=true, udp-relay=true, tag= ——🌹 想🌹——

shadowsocks= 121.170.203.147:2003, method=aes-256-cfb, password=qwerREWQ@@, fast-open=true, udp-relay=true, tag= ——🌹 事🌹——

shadowsocks= 168.126.234.233:7018, method=aes-256-cfb, password=qwerREWQ@@, fast-open=true, udp-relay=true, tag= ——🌹 成🌹——
