shadowsocks=soonhk.soon.guru:40000, method=chacha20-ietf-poly1305, password=d3ef435d-28d9-4578-ac68-4ec4bd4f5a87, fast-open=false, udp-relay=true, tag= 🇭🇰 香港

trojan=many-mastodon.sheepdog670.boats:443, password=3672449442956713984, over-tls=true, tls-verification=false, fast-open=false, udp-relay=false, tag=🇮🇳视频专用ⓑ
trojan=humble-bison.sheepdog670.boats:443, password=3672449442956713984, over-tls=true, tls-verification=false, fast-open=false, udp-relay=false,tag=🇮🇳视频专用ⓐ
